*{
    margin: 0;
    padding: 0;
}
body {
    color: white;
    background-color: black;
    font-size: 60;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    color: red;
    font-size: 50px;
}
h1{
    background-color: blueviolet;
}